/* ПІДКЛЮЧЕННЯ ШРИФТІВ */

@font-face {
  font-family: "PT Mono";
  src: url("../fonts/PTM55FT.ttf");
}


/* СТИЛЬ AngularJS ДЛЯ ПРИХОВУВАННЯ КОМПОНЕНТІВ */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


/* СТИЛЬ ДЛЯ ВІДКЛЮЧЕННЯ АНІМАЦІЇ */

.no-animate {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


/* СТИЛЬ АНІМАЦІЇ AngularJS */

.animation.ng-animate {
  -webkit-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-repeat) */

.animation.ng-enter-stagger,
.animation.ng-leave-stagger {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}


/* СТИЛІ АНІМАЦІЙ AngularJS  (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ПОЧАТОК ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.animation.ng-enter {}


/* СТИЛІ АНІМАЦІЙ AngularJS  (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ЗАКІНЧЕННЯ ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.animation.ng-enter-active {}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ПОЧАТОК ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.animation.ng-leave {}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ПОЧАТОК ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.animation.ng-leave-active {}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ПОЧАТОК ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.animation.ng-hide-remove {
  opacity: 0;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ЗАКІНЧЕННЯ ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.animation.ng-hide-remove-active {
  opacity: 1;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ПОЧАТОК ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.animation.ng-hide-add {
  opacity: 1;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ЗАКІНЧЕННЯ ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.animation.ng-hide-add-active {
  opacity: 0;
}


/* СТИЛЬ ФОРМИ АВТОРИЗАЦІЇ  */

#authorized {
  border: 5px solid #428bca;
  border-radius: 15px;
  background: -webkit-linear-gradient(135deg, #999, #ddd);
  background: -o-linear-gradient(135deg, #999, #ddd);
  background: linear-gradient(-45deg, #999, #ddd)
}

#authorized label {
  font-size: 1.3em;
}


/* СТИЛЬ НАВБАРА  */

nav {
  background: #222;
  color: #FFF;
}

nav a {
  outline: none;
}

nav a:hover {
  text-decoration: none;
}

nav a.active-menu {
  font-weight: bold;
  text-transform: uppercase;
}


/* СТИЛЬ ТАБЛИЦІ  */

table {
  font-size: 0.8em;
  font-family: "PT Mono";
}

th {
  text-align: center;
  vertical-align: middle !important;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* th span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
} */

th:last-child {
  cursor: default;
}

tr td div {
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 1s;
}

tr.show td div {
  max-height: 999px;
  transition: all 2s;
}

td {
  text-align: center;
  padding: 0 5px !important;
  white-space: nowrap;
}

td:nth-child(2) {
  text-align: left;
}

td .btn {
  width: 90%;
  line-height: 0;
}


/* СТИЛЬ НЕАКТИВНОЇ КНОПКИ */

.btn:disabled {
  cursor: not-allowed;
}


/* СТИЛЬ ФІКСОВАНИХ ЕЛЕМЕНТІВ */

.flex-component {
  margin-top: 4em;
  height: calc(100vh - 4em);
  overflow: auto;
}


/* СТИЛЬ МОДАЛЬНОГО ДІАЛОГОВОГО ВІКНА */

.modal-screen {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}

.modal-dialog {
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 0.5em;
  -webkit-box-shadow: 6px 6px 80px #000;
  box-shadow: 6px 6px 80px #000;
}

.modal-head {
  padding: 1em 1em 0em;
  font-size: 1.2em;
}


/*СТИЛЬ ДЕРЕВА */

div[data-angular-treeview] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div[data-tree-model] li {
  padding: 0.3em 0.7em;
  white-space: nowrap;
}

div[data-tree-model] li .cell {
  display: inline-block;
}

div[data-tree-model] li .expanded:before {
  font: normal 1.5em FontAwesome;
  content: "\f07c";
}

div[data-tree-model] li .collapsed:before {
  font: normal 1.5em FontAwesome;
  content: "\f07b";
}

div[data-tree-model] li .normal:before {
  font: normal 1.5em FontAwesome;
  content: "\f015";
  cursor: default;
}

div[data-tree-model] li i,
div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  font-weight: bold;
}

div[data-tree-model] .under {
  height: 2px;
  width: 0;
  background: #5bc0de;
  -webkit-transition: width ease-in-out 0.3s;
  -o-transition: width ease-in-out 0.3s;
  transition: width ease-in-out 0.3s;
}

div[data-tree-model] .under.line {
  width: 101%;
}


/*СТИЛЬ ДОДАТКОВОЇ ПАНЕЛІ */

.additional-panel {
  z-index: 100;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 2em;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.additional-panel:hover {
  opacity: 1;
}

.additional-panel-menu {
  position: fixed;
  bottom: 0.5em;
  right: -2000px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.additional-panel-menu.show {
  right: 2.1em;
}


/* СТИЛЬ ЕКСПАНДЕРА */

.expander {
  margin: 0.5em 0em;
  text-align: start;
  border: 1px solid #222;
}

.expander .title {
  padding: 0.2em 0.5em;
  cursor: pointer;
  background: #222;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.expander .body.ng-hide {
  max-height: 0;
  opacity: 0;
  transition: all 600ms;
}