/* СТИЛЬ АНІМАЦІЇ AngularJS */

.ng-animate {
  -webkit-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-repeat) */

.ng-enter-stagger,
.ng-leave-stagger {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}


/* СТИЛІ АНІМАЦІЙ AngularJS  (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ПОЧАТОК ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.ng-enter {}


/* СТИЛІ АНІМАЦІЙ AngularJS  (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ЗАКІНЧЕННЯ ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.ng-enter-active {}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ПОЧАТОК ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.ng-leave {}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-view, ng-repeat, ng-if, ng-switch, ng-class, ng-include, ng-message) 
ПОЧАТОК ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.ng-leave-active {}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ПОЧАТОК ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.ng-hide-remove {
  opacity: 0;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ЗАКІНЧЕННЯ ВІДОБРАЖЕННЯ ЕЛЕМЕНТА */

.ng-hide-remove-active {
  opacity: 1;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ПОЧАТОК ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.ng-hide-add {
  opacity: 1;
}


/* СТИЛІ АНІМАЦІЙ AngularJS (ng-show ng-hide) 
ЗАКІНЧЕННЯ ПРИХОВУВАННЯ ЕЛЕМЕНТА */

.ng-hide-add-active {
  opacity: 0;
}


/* СТИЛЬ ФІКСОВАНИХ ЕЛЕМЕНТІВ */

.flex-component {
  height: 100vh;
  overflow: auto;
}


/* СТИЛЬ МОДАЛЬНОГО ДІАЛОГОВОГО ВІКНА */

.modal-screen {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}

.modal-dialog {
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 0.5em;
  -webkit-box-shadow: 6px 6px 80px #000;
  box-shadow: 6px 6px 80px #000;
}

.modal-head {
  padding: 1em 1em 0em;
  font-size: 1.2em;
}


/*СТИЛЬ ДЕРЕВА */

div[data-angular-treeview] {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #555;
  text-decoration: none;
  font-size: 1.2em;
  border: 1px solid gray;
  border-radius: 5px;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*border: none;
    overflow: hidden;*/
}

div[data-tree-model] li {
  padding: 0.2em 1em;
  white-space: nowrap;
  /*position: relative;*/
  /*line-height: 20px;*/
}

div[data-tree-model] li .expanded:before {
  font-family: FontAwesome;
  content: "\f07c";
  font-style: normal;
}

div[data-tree-model] li .collapsed:before {
  font-family: FontAwesome;
  content: "\f07b";
  font-style: normal;
}

div[data-tree-model] li .normal:before {
  font-family: FontAwesome;
  content: "\f015";
  font-style: normal;
  cursor: default;
}

div[data-tree-model] li i,
div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 0;
  /* padding: 1px 5px; */
}