<div class="row">

    <div class="flex-component col-4"
        data-angular-treeview="true"
        data-tree-id="objectsTree"
        data-tree-model="objectsData"
        data-node-id="id"
        data-node-label="label"
        data-node-children="children"> 
    </div>

    <div class="flex-component col-8">
        <div>
            {{title}}
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>серія</th>
                        <th>тип</th>
                        <th>потужність</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="mot in motorsInObject">
                        <td>{{mot.series}}</td>
                        <td>{{mot.type}}</td>
                        <td>{{mot.power}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>