<div class="row">

    <div class="flex-component col-3" data-angular-treeview="true" data-tree-id="objectsTree" data-tree-model="objectsData" data-node-id="id"
        data-node-label="label" data-node-children="children">
    </div>

    <div class="flex-component col-9">
        <div>

            <h3>{{title}}</h3>

            <div data-ng-show="showNotData">
                На жаль даних по цьому об'єкту немає
            </div>

            <table class="table table-bordered table-sm table-hover" data-ng-show="isShowTable()">
                <thead class="thead-inverse">
                    <tr>
                        <th data-ng-repeat="title in tableHeader" data-ng-click="!$last && sort(title.value)" data-ng-style="headerStyle(title.value)">
                            <!-- <span>{{title.label}}</span> -->
                            {{title.label}}
                            <i class="fa fa-sort" data-ng-if="!$last" data-ng-class="{'fa-sort-asc' : sortCol == title.value, 'fa-sort-desc' : sortCol == '-'+title.value}"
                                aria-hidden="true"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="show" data-ng-repeat-start="mot in motorsInObject | orderBy: sortCol" data-ng-class="{'table-success': mot.idWiloArt}">
                        <td>
                            <div>{{mot.idMotorsLTE}}</div>
                        </td>
                        <td>
                            <div>{{mot.mission}}</div>
                        </td>
                        <td>
                            <div>{{mot.series}}</div>
                        </td>
                        <td>
                            <div>{{mot.type}}</div>
                        </td>
                        <td>
                            <div>{{mot.power}}</div>
                        </td>
                        <td>
                            <div>{{mot.speed | nullFilter}}</div>
                        </td>
                        <td>
                            <div>{{mot.threePhase | phaseFilter}}</div>
                        </td>
                        <td>
                            <div>{{mot.inventory | nullFilter}}</div>
                        </td>
                        <td>
                            <div>{{mot.bearing1 | nullFilter}}</div>
                        </td>
                        <td>
                            <div>{{mot.bearing2 | nullFilter}}</div>
                        </td>
                        <td>
                            <div>
                                <button class="btn" data-ng-class="{'btn-outline-primary' : !mot.expand, 'btn-primary' : mot.expand}" data-ng-click="expand(mot)">{{ mot.expand ? "-" : "+" }}</button>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-repeat-end="" data-ng-class="{'show' : mot.expand}">
                        <td colspan="11">
                            <div>
                                <expander title="Переміщення:" data-ng-if="mot.motorHistory.length">
                                    <ul>
                                        <li data-ng-repeat="x in mot.motorHistory" data-ng-bind-template="{{x.type}} {{x.address}} знятий {{x.dateTrash}}"></li>
                                    </ul>
                                </expander>
                                <expander title="Ремонти:" data-ng-if="mot.motorRepairs.length">
                                    <ul>
                                        <li data-ng-repeat="y in mot.motorRepairs" data-ng-bind-template="{{y.dateRepair}} - {{y.typeRepair}}   {{y.notes}}"></li>
                                    </ul>
                                </expander>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="additional-panel" data-ng-show="showAddPanel">
                <i class="fa fa-info-circle fa-border text-success" aria-hidden="true" data-ng-click="toggleAddPanelClass = !toggleAddPanelClass"></i>
                <div class="additional-panel-menu" data-ng-class="{'show' : toggleAddPanelClass}">
                    <div class="btn-group btn-group-lg"></div>
                    <button class="btn btn-outline-primary">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbspФайли
                    </button>
                    <button class="btn btn-outline-primary">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>&nbspДодаткова інформація
                    </button>
                    <button class="btn btn-outline-primary">
                        <i class="fa fa-comment" aria-hidden="true"></i>&nbspПримітки
                    </button>
                    <button class="btn btn-outline-primary">
                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbspРобочий проект
                    </button>
                    <button class="btn btn-outline-primary">
                        <i class="fa fa-print" aria-hidden="true"></i>&nbspДрук
                    </button>
                    <button class="btn btn-outline-primary">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbspЕкспорт
                    </button>
                </div>
            </div>
        </div>

    </div>
    <!-- <div ui-grid="{ data: motorsInObject }"></div> -->
</div>
</div>